<h1>Listings</h1>


<ul class="nav nav-tabs" role="tablist">
  <li id='offerings_tab' class="active"><a class='nav_tab'>Offerings</a></li>
  <li id='wanted_tab'><a class='nav_tab'>Wanted</a></li>
</ul>


<div id='listings'>
    <%= render 'listings/listings' %>

    <%= render 'listings/wanted' %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path %>



<script type='text/javascript'>
    $(document).ready(function(){
        new app.Listings.CreateViewController();
    });
</script>