<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @share_category.name %>
</p>

<%= link_to 'Edit', edit_share_category_path(@share_category) %> |
<%= link_to 'Back', share_categories_path %>
